@font-face {
font-family: 'Avenir';
src: url(fonts/AvenirNextLTPro-Regular.otf);
}

* {
    box-sizing: border-box;
    overflow: auto;
}

body {
   background-color: #9b9b8c;
   font-family: 'Avenir';
   font-size: 2em;
}

header, footer {
   background-color: #9b9b8c;
   color: #dededa;
}

header {
   border-bottom: 2px solid #20201c;
   height: 50px;
}

main {
   background-color: #eee;
}

small {
   font-size: 18px;
   margin-left: 35px;
}

div {
   display: inline-block;
}

label {
   font-size: 65px;
   letter-spacing: 2px;
   display: inline-block;
}

button {
   background-color: #353526;
   color: #dededa;
   border-radius: 10px;
   margin-top: -50px;
   width: 260px;
   height: 60px;
   font-size: 25px;
   border: 0px solid black;
}

#splashLink {
   width: 48%;
   display: inline-block;
   text-align: center;
   color: #490063;
   margin-top: 260px;
}

#threeCoversnTracks {
   width: 52%;
   float: right;
   background-image: url('resources/track.fw.png');
}

#allAlbums {
   padding: 30px;
   overflow-x: scroll;
}

#randAlbums {
   width: 242px;
   margin-left: 186px;
   margin-top: 10px;
}

#playlist {
   width: 100%;
   padding: 5%;
}

#bin {
   background-color: #eee;
   border: 2px solid black;
   padding: 25px;
   width: 100%;
   font-size: 18px;
   margin-bottom: 20px;
}
